
body {
    margin:0;
    min-height: 100vh;
   background-color: #f7f7f5;
   
}
#home {
     background-image: url('images/Background.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100%;
}


footer {
    text-align: center;
}
p {
    font-family: "Cormorant Garamond", serif;
    font-weight: 100;
    font-style: normal;
    font-size: 15px;
    color: #6b6b6b;
}
h1 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 500;
    font-style: normal;
    font-size: 75px;
    color: #1f1f1f;

}
h2 {
    font-family: "Cormorant Garamond", serif;
    font-weight: 300;
    font-style: normal;
    font-size: 50px;
    color: #1f1f1f;
}
h3 {
    font-family: "Raleway", sans-serif;
    font-weight: 200;
    font-style:normal;
    font-size: 20px;
    color: #f7f7f5;
    align-items: right;
    margin-bottom: 0px;
}
ul {
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 20px;
    color: #6b6b6b;
}
#list2 {
    font-family: "Raleway", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 15px;
    color: #6b6b6b;
}
#list2 li a {
    color:inherit;
    text-decoration: none;
    
}

#list2 li a:hover {
    color:#1f1f1f;
}
.header-content {
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
}
/*.box {
      border: 2px solid black;
    padding: 10px;
    margin: 10px;
}*/
.header-content2 {
    display:flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 60px;
    margin-bottom: 30px;

}
.site-title {
    margin-bottom: -40px;
   
}
.site-title2 {
    display: flex;
    align-items:center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
    margin-bottom: -20px;

}
.site-nav ul {
    list-style-type: none;
    padding:0%;
    margin:0%;
    display: flex;
    gap: 20px;
}
.site-nav2 ul {
    list-style-type: none;
    padding: 0%;
    margin:0%;
    display: flex;
    gap: 20px;
    justify-content: left;
}
.site-nav ul li a {
    color: inherit;
    text-decoration: none;
    transition: transform 0.35s ease-in-out;
    
}
.site-nav ul li a:hover {
   /* color: #1f1f1f;*/
    display:block;
    transform:scale(105%);
    transform: translateY(-5px);
}

.site-nav ul li a:active {
    color: #6b6b6b;
}

.portfoliogallery {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px
}
.gallery-item {
    flex: 1 1 calc(33.33% - 20px);
    box-sizing: border-box;
    opacity: 1;
    transition: opacity 0.3s ease;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    object-fit: cover;
    border-radius: 5px;
}

/*.fullimage-gallery {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    gap: 10px;
    width: 100vw;
}*/
.fullimage-item {
    max-width: 100%;
    height: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.gallery-item:hover {
    opacity: 0.7;
}

@media (max-width: 768px) {
    .gallery-item {
        flex: 1 1 calc(50% - 20px);
    }
}

@media (max-width: 480px) {
    .gallery-item {
        flex: 1 1 100%;
    }
}

/* Contact Form Style */

input[type=text], select, textarea {
    font-family: "Cormorant Garamond", serif;
    font-size: 25px;
    width: 100%;
    padding: 12px;
    border: 1px solid #6b6b6b;
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical;
}

input[type=submit] {
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 200;
    font-size: 20px;
    background-color: #1f1f1f;
    color: #f7f7f5;
    padding: 12px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #6b6b6b;
}

.contact-form {
    /*border-radius: 5px;*/
    background-color: #1f1f1f;
    padding: 20px;
}